header {
  min-height: 600px;
  background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9)),
    url("assets/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
}

.nav__header {
  background-color: var(--text-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.nav__logo img {
  max-width: 70px;
}

.nav_menu__btn {
  color: var(--white);
  cursor: pointer;
}
.nav_menu__btn svg {
  stroke-width: 2.5;
}

.nav__links {
  width: 100%;
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--text-dark);
  transition: 0.5s;
  transform: translateY(-100%);
  z-index: -1;
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links .nav__logo {
  display: none;
}

.nav__links a {
  color: var(--white);
  padding-bottom: 0.5rem;
  font-weight: 500;
}

.nav__links a:hover {
  border-bottom: 2px solid var(--white);
}

@media (width > 768px) {
  nav {
    padding: 2rem 1rem;
    position: static;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__header {
    display: none;
  }

  .nav__links {
    transform: none;
    width: 100%;
    position: static;
    flex-direction: row;
    background-color: transparent;
    justify-content: space-between;
    padding: 0;
  }

  .nav__links .nav__logo {
    display: block;
  }

  .nav__links .nav__logo img {
    max-width: 150px;
  }
}
